<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Angebot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

	<div class="container">
		<h2>Angebotsansicht</h2>

		<div class="jumbotron">Wichtige Information über Angebot</div>


		<form th:action="@{/angebotEdit}" method="get">
			<button id="btnAngebotEdit" class="btn btn-success">Bearbeiten</button>
		</form>
		<br />
		<form th:action="@{/angebote}" method="get">
			<button id="btnAngebote" class="btn btn-success">Zurück</button>
		</form>
	</div>
</body>
</html>

