<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Angebot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="../webjars/jquery/2.1.1/jquery.min.js"
	type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

	<div class="container">
		<a th:href="@{/startPage}"> <span class="glyphicon glyphicon-home"></span>
		</a>
		<h2>Angebot bearbeiten</h2>

		<form class="form-horizontal" method="post" id="form"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-4">
					<div class="jumbotron">
						<div class="row text-center">

							<!-- TODO Bildupload zum Aendern des Bildes-->
							<img class="img-circle" th:if="${dauer != null}"
								th:src="@{/images/ausleihangebot/{id}(id=${angebot.id})}"
								src="#" alt="Bild" width="100px" height="100px" /> <img
								class="img-circle" th:if="${endDatum == null}"
								th:src="@{/images/tauschangebot/{id}(id=${angebot.id})}" src="#"
								alt="Bild" width="100px" height="100px" /> <img
								class="img-circle" th:if="${kategorie == null}"
								th:src="@{/images/hilfsangebot/{id}(id=${angebot.id})}" src="#"
								alt="Bild" width="100px" height="100px" /> <input type="file"
								id="angebotImage" name="angebotImage" />



						</div>
					</div>
					<div class="col-md-4">
						<div th:if="${dauer != null}">
							<button id="btnAngebotBearbeiten" class="btn btn-success"
								onclick="javascript:save(ausleihen)"
								th:onclick="${'javascript:save(' + angebot.id + ', ausleihen)'}">
								<span class="glyphicon glyphicon-floppy-saved"></span> Speichern
							</button>

						</div>

						<div th:if="${endDatum == null}">
							<button id="btnAngebotBearbeiten" class="btn btn-success"
								th:onclick="${'javascript:save(' + angebot.id + ', tauschen)'}">
								<span class="glyphicon glyphicon-floppy-saved"></span> Speichern
							</button>

						</div>

						<div th:if="${kategorie == null}">
							<button id="btnAngebotBearbeiten" class="btn btn-success"
								onclick="${'javascript:save(' + angebot.id + ', helfen)'}">
								<span class="glyphicon glyphicon-floppy-saved"></span> Speichern
							</button>

						</div>



					</div>
				</div>
				<div class="col-md-8">
					<div class="jumbotron">

						<div class="row">
							<div class="col-md-2">
								<b>Titel: </b>
							</div>
							<div class="col-md-10">
								<input type="text" class="form-control" id="titel"
									th:field="*{angebot.titel}" th:value="${angebot.titel}"
									required="required" />
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('angebot.titel')}"
									th:errors="*{angebot.titel}">Error</div>
							</div>
						</div>
						<br />

						<div class="panel panel-success">
							<div class="panel-heading">Beschreibung</div>
							<div class="panel-body">
								<div th:if="${kategorie != null}">
									<b>Kategorie: </b><input type="text" class="form-control"
										id="kategorie" th:field="*{angebot.kategorie}"
										th:value="${angebot.kategorie}" /> <br />
									<div class="alert alert-danger"
										th:if="${#fields.hasErrors('angebot.kategorie')}"
										th:errors="*{angebot.kategorie}">Error</div>
								</div>
								<b>Angebotsbeschreibung: </b>
								<textarea rows="10" class="form-control" id="beschreibung"
									th:field="*{angebot.beschreibung}"
									th:text="${angebot.beschreibung}"> </textarea>
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('angebot.beschreibung')}"
									th:errors="*{angebot.beschreibung}">Error</div>

							</div>
						</div>

						<div class="panel panel-success">
							<div class="panel-heading">Bedingungen</div>
							<div class="panel-body">
								<b>Startdatum: </b><input type="datetime" class="form-control"
									id="startDatum" th:field="*{angebot.startDatum}"
									th:value="${angebot.startDatum}" required="required" />
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('angebot.startDatum')}"
									th:errors="*{angebot.startDatum}">Error</div>
								<div th:if="${endDatum != null}">
									<b>Enddatum: </b><input type="datetime" class="form-control"
										id="endDatum" th:field="*{angebot.endDatum}"
										th:value="${angebot.endDatum}" />
									<div class="alert alert-danger"
										th:if="${#fields.hasErrors('angebot.endDatum')}"
										th:errors="*{angebot.endDatum}">Error</div>
								</div>
								<div th:if="${dauer != null}">
									<br /> <b>maximale Ausleihdauer: </b><input type="text"
										class="form-control" id="dauer" th:field="*{angebot.dauer}"
										th:value="${angebot.dauer}" />
									<div class="alert alert-danger"
										th:if="${#fields.hasErrors('angebot.dauer')}"
										th:errors="*{angebot.dauer}">Error</div>
									Tag(e)
								</div>
							</div>
						</div>

						<div class="panel panel-success">
							<div class="panel-heading">Kommentare</div>
							<div class="panel-body">Kommentare anzeigen?</div>
						</div>



					</div>
				</div>

			</div>
		</form>
		<div class="col-md-8 col-md-offset-4">
			<div class="pull-right">
				<form th:action="@{/angebote}" method="get">
					<button id="btnAngebote" class="btn btn-danger">
						<span class="glyphicon glyphicon-remove"></span> Abbrechen
					</button>
				</form>
			</div>
			<form th:if="${dauer != null}"
				th:action="${'../../delete/' + angebot.id + '/ausleihen'}"
				method="get">
				<button id="btnAngebotLoeschen" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Löschen
				</button>
			</form>

			<form th:if="${endDatum == null}"
				th:action="${'../../delete/' + angebot.id + '/tauschen'}"
				method="get">
				<button id="btnAngebotLoeschen" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Löschen
				</button>
			</form>
			<form th:if="${kategorie == null}"
				th:action="${'../../delete/' + angebot.id + '/helfen'}" method="get">
				<button id="btnAngebotLoeschen" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Löschen
				</button>
			</form>


		</div>

	</div>


	<script type="text/javascript">
		function save(var id, var type) {
			var frm = document.getElementById("form");
			frm.action = '../../angebotEdit/' + id + '/' + type;
			return true;
		};
	</script>
</body>
</html>

