<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Angebot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="/webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<link
	href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css"
	rel="stylesheet" />
<script
	src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

	<div class="container">

		<a th:href="@{/startPage}"> <span class="glyphicon glyphicon-home"></span>
		</a>

		<h2>Angebotsansicht</h2>

		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron">
					<div class="row text-center">
						<img class="img-circle" th:if="${dauer != null}"
							th:src="@{/images/ausleihangebot/{id}(id=${angebot.id})}" src="#"
							alt="Bild" width="100px" height="100px" /> <img
							class="img-circle" th:if="${endDatum == null}"
							th:src="@{/images/tauschangebot/{id}(id=${angebot.id})}" src="#"
							alt="Bild" width="100px" height="100px" /> <img
							class="img-circle" th:if="${kategorie == null}"
							th:src="@{/images/hilfsangebot/{id}(id=${angebot.id})}" src="#"
							alt="Bild" width="100px" height="100px" />
					</div>
				</div>
				<div class="col-md-4" th:if="${besitzer}">
					<form th:if="${dauer != null}"
						th:action="${'../../angebotEdit/' + angebot.id + '/ausleihen'}"
						method="get">
						<button id="btnAngebotBearbeiten" class="btn btn-success">
							<span class="glyphicon glyphicon-edit"></span> Bearbeiten
						</button>
					</form>
					<form th:if="${endDatum == null}"
						th:action="${'../../angebotEdit/' + angebot.id + '/tauschen'}"
						method="get">
						<button id="btnAngebotBearbeiten" class="btn btn-success">
							<span class="glyphicon glyphicon-edit"></span> Bearbeiten
						</button>
					</form>
					<form th:if="${kategorie == null}"
						th:action="${'../../angebotEdit/' + angebot.id + '/helfen'}"
						method="get">
						<button id="btnAngebotBearbeiten" class="btn btn-success">
							<span class="glyphicon glyphicon-edit"></span> Bearbeiten
						</button>
					</form>
				</div>
				<div class="col-md-4">
					<button id="btnAngebote" class="btn btn-success"
						onclick="history.back(-1)">
						<span class="glyphicon glyphicon-chevron-left"></span> Zurück
					</button>
				</div>
				<div class="col-md-4" sec:authorize="hasRole('ADMIN')">
					<!-- Ausleihartikel Enable / Disable -->
					<form th:if="${dauer != null and angebot.enabled}"
						th:action="${'../../disable/' + angebot.id + '/ausleihen'}"
						method="get">
						<input data-toggle="toggle" type="checkbox" id="toggle-button"
							data-onstyle="info" data-offstyle="danger" data-on="Aktiviert"
							data-off="Deaktiviert" checked="checked"
							onChange="confirmChange(this, 'deaktivieren');" />
					</form>
					<form th:if="${dauer != null and !angebot.enabled}"
						th:action="${'../../enable/' + angebot.id + '/ausleihen'}"
						method="get">
						<input data-toggle="toggle" type="checkbox" id="toggle-button"
							data-onstyle="info" data-offstyle="danger" data-on="Aktiviert"
							data-off="Deaktiviert"
							onChange="confirmChange(this, 'aktivieren');" />
					</form>
					<!-- Tauschartikel Enable / Disable -->
					<form th:if="${endDatum == null and angebot.enabled}"
						th:action="${'../../disable/' + angebot.id + '/tauschen'}"
						method="get">
						<input data-toggle="toggle" type="checkbox" id="toggle-button"
							data-on="Aktiviert" data-off="Deaktiviert" checked="checked"
							data-onstyle="info" data-offstyle="danger"
							onChange="confirmChange(this, 'deaktivieren');" />
					</form>
					<form th:if="${endDatum == null and !angebot.enabled}"
						th:action="${'../../enable/' + angebot.id + '/tauschen'}"
						method="get">
						<input data-toggle="toggle" type="checkbox" id="toggle-button"
							data-onstyle="info" data-offstyle="danger" data-on="Aktiviert"
							data-off="Deaktiviert"
							onChange="confirmChange(this, 'aktivieren');" />
					</form>
					<!-- Hilfeleistung Enable / Disable -->
					<form th:if="${kategorie == null and angebot.enabled}"
						th:action="${'../../disable/' + angebot.id + '/helfen'}"
						method="get">
						<input data-toggle="toggle" type="checkbox" id="toggle-button"
							data-on="Aktiviert" data-off="Deaktiviert" data-onstyle="info"
							data-offstyle="danger" checked="checked"
							onChange="confirmChange(this, 'deaktivieren');" />
					</form>
					<form th:if="${kategorie == null and !angebot.enabled}"
						th:action="${'../../enable/' + angebot.id + '/helfen'}"
						method="get">
						<input data-toggle="toggle" type="checkbox" id="toggle-button"
							data-on="Aktiviert" data-off="Deaktiviert" data-onstyle="info"
							data-offstyle="danger"
							onChange="confirmChange(this, 'aktivieren');" />
					</form>
				</div>
			</div>



			<script type="text/javascript">
				var callFunction = true;

				function confirmChange(element, text) {

					if (callFunction == true) {

						var answer = confirm("Willst du wirklich das Angebot "
								+ text + "?");

						if (answer == true) {
							element.form.submit();
							return false;

						} else {
							callFunction = false;
							$(element).bootstrapToggle('toggle');
							return false;
						}
					} else {
						callFunction = true;
						return false;
					}
				}
			</script>




			<div class="col-md-8">
				<div class="jumbotron">

					<h2>
						<span th:text="${angebot.titel}"></span>
					</h2>

					<div class="panel panel-success">
						<div class="panel-heading">Beschreibung</div>
						<div class="panel-body">
							<div th:if="${kategorie != null}">
								<strong>Kategorie: </strong><span th:text="${angebot.kategorie}"></span>
								<br />
							</div>
							<strong>Angebotsbeschreibung: </strong><span
								th:text="${angebot.beschreibung}"></span>

						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">Bedingungen</div>
						<div class="panel-body">
							<strong>Startdatum: </strong><span
								th:text="${angebot.startDatum}"></span>
							<div th:if="${endDatum != null}">
								<strong>Enddatum: </strong><span th:text="${angebot.endDatum}"></span>
							</div>
							<div th:if="${dauer != null}">
								<br /> <strong>maximale Ausleihdauer: </strong><span
									th:text="${angebot.dauer}"></span> Tag(e)
							</div>
						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">Kommentare</div>
						<div class="panel-body">Kommentare anzeigen?</div>
					</div>



				</div>
			</div>
		</div>

	</div>


</body>
</html>

