<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<title>Angebot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="/webjars/jquery/2.1.1/jquery.min.js"
	type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

	<div class="container">

		<a th:href="@{/startPage}"> <span class="glyphicon glyphicon-home"></span>
		</a>

		<h2>Neues Angebot erstellen</h2>

		<form class="form-horizontal" method="post" id="form"
			enctype="multipart/form-data" th:object="${newAngebot}">
			<div class="row">
				<div class="col-md-4">
					<div class="jumbotron">
						<div class="row text-center">

							<!-- TODO Bildupload zum Aendern des Bildes-->
							<img class="img-circle" th:src="@{/images/angebot/}" src="#"
								alt="Bild" width="100px" height="100px" /> <input type="file"
								id="angebotImage" name="angebotImage" />

						</div>
					</div>
					<div class="col-md-4">
						<div th:if="${ausleihen != null}">
							<button id="btnAngebotBearbeiten" class="btn btn-success"
								type="submit" onclick="javascript:save('ausleihen')">
								<span class="glyphicon glyphicon-floppy-saved"></span> Speichern
							</button>

						</div>

						<div th:if="${tauschen != null}">
							<button id="btnAngebotBearbeiten" class="btn btn-success"
								type="submit" onclick="javascript:save('tauschen')">
								<span class="glyphicon glyphicon-floppy-saved"></span> Speichern
							</button>

						</div>

						<div th:if="${helfen != null}">
							<button id="btnAngebotBearbeiten" class="btn btn-success"
								type="submit" onclick="javascript:save('helfen')">
								<span class="glyphicon glyphicon-floppy-saved"></span> Speichern
							</button>

						</div>



					</div>
				</div>
				<div class="col-md-8">
					<div class="jumbotron">

						<div class="row">
							<div class="col-md-2">
								<strong>Titel: </strong>
							</div>
							<div class="col-md-10">
								<input type="text" class="form-control" th:field="*{titel}"
									id="titel" required="required" />
							</div>
						</div>
						<br />

						<div class="panel panel-success">
							<div class="panel-heading">Beschreibung</div>
							<div class="panel-body">
								<div th:if="${ausleihen != null || tauschen != null}">
									<strong>Kategorie: </strong><input type="text" class="form-control"
										th:field="*{kategorie}" id="kategorie" /> <br />
								</div>
								<strong>Angebotsbeschreibung: </strong>
								<textarea rows="10" class="form-control"
									th:field="*{beschreibung}" id="beschreibung"> </textarea>

							</div>
						</div>

						<div class="panel panel-success">
							<div class="panel-heading">Bedingungen</div>
							<div class="panel-body">
								<strong>Startdatum: </strong><input type="datetime" class="form-control"
									id="startDatum" th:field="*{startDatum}" required="required" />
								<div th:if="${ausleihen != null || helfen != null}">
									<strong>Enddatum: </strong><input type="datetime" th:field="*{endDatum}"
										class="form-control" id="endDatum" required="required" />
								</div>
								<div th:if="${ausleihen != null}">
									<br /> <strong>maximale Ausleihdauer: </strong><input type="text"
										class="form-control" th:field="*{dauer}" id="dauer" /> Tag(e)
								</div>
							</div>
						</div>



					</div>
				</div>

			</div>
		</form>

		<div class="pull-right">
			<form th:action="@{/angebote}" method="get">
				<button id="btnAngebote" class="btn btn-danger">
					<span class="glyphicon glyphicon-remove"></span> Abbrechen
				</button>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		function save(var type) {
			var frm = document.getElementById("form");
			frm.action = '../../angebotNeu/' + type;
			return true;
		};
	</script>
</body>
</html>

