<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<title>Profil</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="/webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>

	<div class="container">

		<a th:href="@{/startPage}"> <span class="glyphicon glyphicon-home"></span>
		</a>

		<h2>Angebot bewerten</h2>

		<form class="form-horizontal" th:action="@{/rate/}"
			th:object="${bewertung}" method="post" enctype="multipart/form-data">

			<div class="row">
				<div class="col-md-6">
					<div class="jumbotron">
						<strong th:text="${titel}"></strong>

						<div class="panel panel-success">
							<div class="panel-heading">Beschreibung</div>
							<div class="panel-body">
								<span th:text="${beschreibung}"></span>
							</div>
						</div>
						<div class="panel panel-success">
							<div class="panel-heading">Deine Anfragen</div>
							<div class="panel-body">
								<div>
									<strong>Gesendet: </strong> 05.12.2014
								</div>
								<div>
									<strong>Angenommen: </strong> 06.12.2014
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="jumbotron">
						<strong>Deine Bewertung</strong> <br />
						<div class="row">
							<div class="col-md-2">
								<strong>Starrating</strong>
							</div>
							<div class="col-md-4">
								<input type="number" class="form-control"
									th:field="*{bewertungSterne}" id="stars" required="required"
									min="1" max="3" />
							</div>
						</div>
						<br /> <strong>Kommentar</strong>
						<textarea class="form-control" rows="7" id="kommentar"
							maxlength="1000" th:field="*{kommentar}"
							th:value="${bewertung.kommentar}"></textarea>
						<br />
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('kommentar')}"
							th:errors="*{kommentar}">Error</div>
					</div>
					<div class="col-md-4">
						<button id="btnAngebote" class="btn btn-success"
							onclick="history.back(-1)">
							<span class="glyphicon glyphicon-chevron-left"></span> Zurück
						</button>
					</div>
					<div class="col-md-4">
						<button id="btnSave" name="btnSave" type="submit"
							class="btn btn-success">
							<span class="glyphicon glyphicon-star"></span> Bewerten
						</button>
					</div>
				</div>
			</div>

		</form>
	</div>

</body>
</html>