<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<title>Sign In</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
	<div class="container">
		<h2>Login</h2>
		<form class="form-horizontal" th:action="@{/login}" method="post">
			<fieldset>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="username">Email</label>
					<div class="col-md-4">
						<input id="username" name="username" type="text"
							placeholder="beispiel@123.de" class="form-control input-md"
							required="required" /> <span class="help-block">Bitte die
							Email Adresse angeben</span>
					</div>
				</div>

				<!-- Password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password">Passwort</label>
					<div class="col-md-4">
						<input id="password" name="password" type="password"
							placeholder="Passwort" class="form-control input-md"
							required="required" /> <span class="help-block">Bitte
							Passwort eingeben</span>
					</div>
				</div>


				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<p>
							Neu hier? <a href="signup" th:href="@{/register}">Registrieren</a>
						</p>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="btnLogin"></label>
					<div class="col-md-4">
						<button id="btnLogin" name="btnLogin" type="submit"
							class="btn btn-success">Login</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>




</body>
</html>