<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<title>Profil</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>

	<div class="container">
		<h2>Dein Profil</h2>

		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron">
					<div class="row text-center">
						<img class="img-circle"
							th:src="@{/images/user/{id}(id=${user.id})}" src="/imageUser/"
							width="100px" height="100px" />
					</div>
				</div>
				<div class="col-md-4">
					<form th:action="@{/profilEdit}" method="get">
						<button id="btnProfilBearbeiten" class="btn btn-success">Bearbeiten</button>
					</form>
				</div>
			</div>
			<div class="col-md-8">
				<div class="jumbotron">
					<table class="table">
						<thead>
							<tr>
								<td><b>Adressinformationen</b></td>
							</tr>

						</thead>
						<tr>
							<td>
								<!-- Vorname --> <label>Vorname</label>
							</td>

							<td><span th:text="${user.vorname}"></span></td>

							<td>
								<!-- Nachname --> <label>Nachname</label>
							</td>

							<td><span th:text="${user.nachname}"></span></td>

						</tr>

						<tr>
							<td>
								<!-- Straße --> <label>Straße</label>
							</td>
							<td><span th:text="${user.strasse}"></span></td>
							<td>
								<!-- Hausnummer --> <label>Hausnummer</label>
							</td>
							<td><span th:text="${user.hausnummer}"></span></td>
						</tr>

						<tr>
							<td>
								<!-- PLZ --> <label>PLZ</label>
							</td>
							<td><span th:text="${user.plz}"></span></td>
							<td>
								<!-- Stadt --> <label>Stadt</label>
							</td>
							<td><span th:text="${user.stadt}"></span></td>
						</tr>

					</table>
				</div>

				<div class="jumbotron">
					<table class="table">
						<thead>
							<tr>
								<td><b>Kontaktinformationen</b></td>
							</tr>

						</thead>
						<tr>
							<td>
								<!-- Telefonnummer --> <label>Telefonnummer</label>
							</td>
							<td><span th:text="${user.telefonNummer}"></span></td>
						</tr>
						<tr>
							<td>
								<!-- Email --> <label>Email </label>
							</td>
							<td><span th:text="${user.email}"></span></td>
						</tr>

					</table>

				</div>
			</div>
		</div>

		<div class="col-md-4">
			<form th:action="@{/startPage}" method="get">
				<button id="btnStart" class="btn btn-success">Startseite</button>
			</form>
		</div>
	</div>
</body>
</html>