<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<title>Profil</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>

	<div class="container">
		<h2>Dein Profil bearbeiten</h2>

		<div class="row">
			<div class="col-md-4">
				<div class="jumbotron">
					<img class="img-circle"
						th:src="@{/images/user/{id}(id=${user.id})}" src="/imageUser/"
						width="100px" height="100px" /> <input type="file" id="userImage" name="userImage" /><a
						href="#"> <span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
				<div class="col-md-4">
					<form th:action="@{/profil}" method="get">
						<button id="btnSave" class="btn btn-success">Speichern</button>
					</form>
				</div>
				<div class="col-md-4">
					<form th:action="@{/profil}" method="get">
						<button id="btnCancel" class="btn btn-danger">Abbrechen</button>
					</form>
				</div>
			</div>
			<div class="col-md-8">
				<!-- Adressinformationen -->
				<div class="jumbotron">
					<table class="table">
						<thead>
							<tr>
								<td><b>Adressinformationen</b></td>
							</tr>

						</thead>
						<tr>
							<td>
								<!-- Vorname --> <input type="text" class="form-control"
								id="vorname" th:value="${user.vorname}" required="required" />


							</td>
							<td>
								<!-- Nachname --> <input type="text" class="form-control"
								id="nachname" th:value="${user.nachname}" required="required" />

							</td>
						</tr>

						<tr>
							<td>
								<!-- Straße --> <input type="text" class="form-control"
								id="strasse" th:value="${user.strasse}" required="required" />
							</td>
							<td>
								<!-- Hausnummer --> <input type="text" class="form-control"
								id="hausnummer" th:value="${user.hausnummer}"
								required="required" />

							</td>
						</tr>

						<tr>
							<td>
								<!-- PLZ --> <input type="text" class="form-control" id="plz"
								th:value="${user.plz}" required="required" />

							</td>
							<td>
								<!-- Stadt --> <input type="text" class="form-control"
								id="stadt" th:value="${user.stadt}" required="required" />

							</td>
						</tr>

					</table>

				</div>


				<!-- Kontaktinformationen -->
				<div class="jumbotron">
					<table class="table">
						<thead>
							<tr>
								<td><b>Kontaktinformationen</b></td>
							</tr>

						</thead>
						<tr>
							<td>
								<!-- Telefonnummer --> <input type="text" class="form-control"
								id="telefonNummer" th:value="${user.telefonNr}"
								required="required" />

							</td>
						</tr>
						<tr>
							<td>
								<!-- Email --> <input type="email" class="form-control"
								id="email" th:value="${user.email}" required="required" />

							</td>
						</tr>

					</table>

				</div>

			</div>
		</div>
	</div>
</body>
</html>