<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello Secret World!</title>
</head>
<body>

	<h1>Registrierung</h1>
	<div th:if="${message}">Benutzer Registriert</div>
	<form action="#" th:action="@{/register}" th:object="${newUser}"
		method="post">
		<table>
			<tr>
				<td>Vorname:</td>
				<td><input type="text" th:field="*{vorname}" /></td>
				<td th:if="${#fields.hasErrors('vorname')}" th:errors="*{vorname}">Vorname
					Error</td>
			</tr>
			<tr>
				<td>Nachname:</td>
				<td><input type="text" th:field="*{nachname}" /></td>
				<td th:if="${#fields.hasErrors('nachname')}" th:errors="*{nachname}">Error</td>

			</tr>
			<tr>
				<td>Geschlecht:</td>
				<td><select th:field="*{geschlecht}">
						<option value="MANN">Mann</option>
						<option value="FRAU">Frau</option>
				</select></td>
				<td th:if="${#fields.hasErrors('geschlecht')}"
					th:errors="*{geschlecht}">Error</td>

			</tr>
			<tr>
				<td>Password1:</td>
				<td><input type="password" th:field="*{password1}" /></td>
				<td th:if="${#fields.hasErrors('password1')}"
					th:errors="*{password1}">Vorname Error</td>
			</tr>
			<tr>
				<td>Password2:</td>
				<td><input type="password" th:field="*{password2}" /></td>
				<td th:if="${#fields.hasErrors('password2')}"
					th:errors="*{password2}">Vorname Error</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" th:field="*{email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Vorname
					Error</td>
			</tr>
			<tr>
				<td>Straße:</td>
				<td><input type="text" th:field="*{strasse}" /></td>
				<td th:if="${#fields.hasErrors('strasse')}" th:errors="*{strasse}">Vorname
					Error</td>
			</tr>
			<tr>
				<td>Hausnummer:</td>
				<td><input type="text" th:field="*{hausnummer}" /></td>
				<td th:if="${#fields.hasErrors('hausnummer')}"
					th:errors="*{hausnummer}">Vorname Error</td>
			</tr>
			<tr>
				<td>Plz:</td>
				<td><input type="number" th:field="*{plz}" /></td>
				<td th:if="${#fields.hasErrors('plz')}" th:errors="*{plz}">Vorname
					Error</td>
			</tr>
			<tr>
				<td>Stadt:</td>
				<td><input type="text" th:field="*{stadt}" /></td>
				<td th:if="${#fields.hasErrors('stadt')}" th:errors="*{stadt}">Vorname
					Error</td>
			</tr>
			<tr>
				<td>Telefonnr:</td>
				<td><input type="text" th:field="*{telefonNummer}" /></td>
				<td th:if="${#fields.hasErrors('telefonNummer')}"
					th:errors="*{telefonNummer}">Vorname Error</td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
				<td><input type="reset" value="Reset" /></td>
			</tr>
		</table>

	</form>


</body>
</html>