<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Startseite</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="/webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div class="container">
		<h1 th:inline="text">Hallo User
			[[${#httpServletRequest.remoteUser}]]!</h1>

		<div class="pull-right">
			<form th:action="@{/logout}" method="post">
				<button id="btnLogin" name="btnLogin" type="submit"
					class="btn btn-success">
					<span class="glyphicon glyphicon-log-out"></span>Logout
				</button>
			</form>
		</div>
		<form th:action="@{/profil}" method="get">
			<button id="btnProfil" type="submit" class="btn btn-success">Profil</button>
		</form>
		<br />
		<form th:action="@{/angebote/} + ${userid}" method="get">
			<button id="btnAngebote" type="submit" class="btn btn-success">Eigene Angebote</button>
		</form>
		<br />
		<form th:action="@{/angebote}" method="get">
			<button id="btnAlleAngebote" type="submit" class="btn btn-success">Alle Angebote</button>
		</form>
		<br />
		<form th:action="@{/anfragen}" method="get">
			<button id="btnAlleAnfragen" type="submit" class="btn btn-success">Deine Anfragen</button>
		</form>
		<br />
		<form sec:authorize="hasRole('ADMIN')" th:action="@{/angebote/disabled}" method="get">
			<button id="btnDeaktivierteAngebote" type="submit" class="btn btn-success">Deaktiverte Angebote</button>
		</form>
		<br />
		<form sec:authorize="hasRole('ADMIN')" th:action="@{/profile}" method="get">
			<button id="btnAlleUser" type="submit" class="btn btn-success">Alle User</button>
		</form>
	</div>
</body>
</html>