<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>LocalSharing</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />

<!-- Custom Fonts -->
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />
<link
	href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"
	type="text/css" />

<!-- Plugin CSS -->
<link rel="stylesheet" href="/css/animate.min.css" type="text/css" />

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/startPage.css" type="text/css" />

</head>

<body>

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="/startPage">LocalSharing</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" th:href="@{/anfragen}">Anfragen</a></li>
					<li><a class="page-scroll" th:href="@{/profil}">Profil</a></li>
					<li><a class="page-scroll" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<br />
	<br />
	<br />

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<a th:href="@{/profil}"> <img class="img-responsive"
					src="img/profil.jpg" />
				</a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<a th:href="@{/angebote/} + ${userid}"><img
					class="img-responsive" src="img/angebote.jpg" /></a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<a th:href="@{/anfragen}"><img class="img-responsive"
					src="img/anfrage.jpg" /></a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<a th:href="@{/angebote}"><img class="img-responsive"
					src="img/angeboteFremd.jpg" /></a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<form sec:authorize="hasRole('ADMIN')"
					th:action="@{/angebote/disabled}" method="get">
					<button id="btnDeaktivierteAngebote" type="submit"
						class="btn btn-success">Deaktiverte Angebote</button>
				</form>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<form sec:authorize="hasRole('ADMIN')" th:action="@{/profile}"
					method="get">
					<button id="btnAlleUser" type="submit" class="btn btn-success">Alle
						User</button>
				</form>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="/js/jquery.easing.min.js"></script>
	<script src="/js/jquery.fittext.js"></script>
	<script src="/js/wow.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/js/creative.js"></script>

</body>

</html>
